@tailwind base;
@tailwind components;
@tailwind utilities;

dialog {
  min-width: 15rem;
  min-height: 5rem;
}

.btn-close {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

.btn-secondary {
  color: white;
  background-color: #6c757d;
}

.btn-primary {
  color: white;
  background-color: #0d6efd;
}

.btn-close {
}

@layer components {
  .btn-delete {
    @apply bg-red-800/60 hover:bg-red-600/90 text-white font-medium py-1 px-2 border-slate-950/50 border-2 hover:border-white rounded-lg;
  }
  .btn-edit {
    @apply bg-cyan-800/60 hover:bg-blue-600/90 text-white font-bold py-1 px-2 border-slate-950/50 border-2 hover:border-white  rounded-lg;
  }
  /* .btn-navbar {
    @apply bg-cyan-800/60 hover:bg-cyan-600/90 text-white font-bold py-1 px-2 border-slate-950/50 border-2 hover:border-white hover:border-2 rounded-lg;
  }
  .bg-fade-b {
    @apply bg-gradient-to-r from-slate-900/0 via-slate-900/80 to-slate-900/0;
  }
  .input-text {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
  } */
}

/* html {
      background-image: url();
} */
